@model IEnumerable<marshal_deploy.Models.DailyPerform>
@{ ViewBag.Title = "Daily Performance"; } @if (TempData["ErrorMessage"] !=
null)
{
    <div id="notification" class="error">@TempData["ErrorMessage"]</div>
}
<style>
    .error {
        background-color: #ffdddd;
        color: #ff0000;
        padding: 10px;
        margin-bottom: 10px;
    }

    .btn.btn-success a {
        color: white;
        text-decoration: none;
        margin-bottom: auto;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
    }

        .dropdown-item i {
            margin-right: 5px;
        }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    <div class="btn btn-success">
                        @Html.ActionLink("Create New", "Create")
                    </div>

                    <table class="table datatable-basic table-striped" width="100%">
                        <thead>
                            <tr>

                                <th>@Html.DisplayNameFor(model => model.UserId)</th>
                                <th>@Html.DisplayNameFor(model => model.Target)</th>
                                <th>@Html.DisplayNameFor(model => model.Total)</th>
                                <th>@Html.DisplayNameFor(model => model.Performance)</th>
                                <th>@Html.DisplayNameFor(model => model.Rating)</th>
                                <th>@Html.DisplayNameFor(model => model.Cluster.ClusterName)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">

                                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Target)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Performance)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cluster.ClusterName)</td>

                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#"
                                                   class="list-icons-item"
                                                   data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        @Html.ActionLink("Details", "Details", new
                                                        {
                                                            id =
                                                        item.id
                                                        })
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



