@model IEnumerable<marshal_deploy.Models.Zone>
@{ ViewBag.Title = "Zone Details"; }

<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Zone Details</h5>
            <div class="header-elements">
                <div class="header-elements">
                    <button type="button" class="btn btn-light btn-sm"><i class="icon-file-check mr-2"></i> Save</button>
                    <button type="button" class="btn btn-light btn-sm ml-3"><i class="icon-printer mr-2"></i> Print</button>
                </div>
            </div>
        </div>

        <!-- Zone details table -->
        <table class="table datatable-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>TarriffID</th>
                    <th>IsDeleted</th>
                    <th>IsActive</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var zone in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => zone.ZoneName)</td>
                        <td>@Html.DisplayFor(model => zone.TarriffID)</td>
                        <td>@Html.DisplayFor(model => zone.IsDeleted)</td>
                        <td>@Html.DisplayFor(model => zone.IsActive)</td>
                        <td>@Html.DisplayFor(model => zone.CreatedAt)</td>
                        <td>@Html.DisplayFor(model => zone.UpdatedAt)</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i>PDF</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>CSV</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- /Zone details table -->
    </div>
    <!-- /card -->
</div>
<!-- /content area -->

@section Scripts { @Scripts.Render("~/bundles/jqueryval")

<script src="~/Content/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/Content/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>

<script src="~/Content/global_assets/js/demo_pages/datatables_responsive.js"></script>
}

