@model IEnumerable<marshal_deploy.Models.PrecinctPerformance>
@{ ViewBag.Title = "PrecinctPerformance Details"; }

<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">PrecinctPerformance Details</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <!-- PrecinctPerformance details table -->
        <table class="table datatable-responsive">
            <thead>
                <tr>
                    @*<th>PeriodType</th>*@
                    <th>Precinct</th>
                    <th>ZoneId</th>
                    <th>Performance</th>
                    @*<th>Variance</th>*@
                    <th>Rating</th>
                    <th>Cluster</th>
                    <th>IsDeleted</th>
                    <th>IsActive</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var precinctPerformance in Model)
                {
                    <tr>
                        @* <td>
            @Html.DisplayFor(model => precinctPerformance.Period.PeriodType)
        </td>*@
                        <td>@Html.DisplayFor(model => precinctPerformance.Precinct.PrecinctName)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.ZoneId)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.Performance)</td>
                        @*<td>@Html.DisplayFor(model => precinctPerformance.Variance)</td>*@
                        <td>@Html.DisplayFor(model => precinctPerformance.Rating)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.Cluster.ClusterName)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.IsDeleted)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.IsActive)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.CreatedAt)</td>
                        <td>@Html.DisplayFor(model => precinctPerformance.UpdatedAt)</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i>PDF</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i>CSV</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- /PrecinctPerformance details table -->
    </div>
    <!-- /card -->
</div>
<!-- /content area -->

@section Scripts { @Scripts.Render("~/bundles/jqueryval")

<script src="~/Content/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/Content/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>

<script src="~/Content/global_assets/js/demo_pages/datatables_responsive.js"></script>
}

